<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-ChinookWeb-449f8924-62ec-41cd-88c8-0bfcc1ab1db2;AttachDbFilename=|DataDirectory|\aspnet-ChinookWeb-449f8924-62ec-41cd-88c8-0bfcc1ab1db2.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name="ChinookDB" 
       connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chinook;Integrate Secutity="true"
       providerName="System.Data.SqlClient" />
</connectionStrings>
